.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  height: 50px;
}

.trybewarts-login {
  display: flex;
  height: 50%;
}

main {
  display: flex;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}
